body {
  background-color: #f4a460;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  padding-top: 0.05em;
  font-size: 3em;
}

table {
  border: 1px solid #b6b6b4;
  border-collapse: collapse;
  width: 30em;
  height: 42em;
  background-color: rebeccapurple;
  color: #b6b6b4;
}
td {
  border: 1px solid #b6b6b4;
}
td {
  font-size: 2.5em;
  text-align: center;
}
#showTheWork {
  height: 3em;
  padding: 0 0.5em;
  text-align: right;
}
.button:active {
  background-color: #7f525d;
}
